header {
    background-color: burlywood;
}

.info h2 {
    background-color: blanchedalmond;
    color: brown;
}

img {
    width:300px;
}

h3 {
    background-color: beige;
    color: darkgoldenrod;
}